.addTag {
    position: fixed; /* Sit on top of the page content */
    /*display: none; !* Hidden by default *!*/
    /*visibility: hidden;*/

    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.0); /* Black background with opacity */
    opacity: 0.0;
    transition: background-color 0.18s ease, opacity 0.24s ease;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.addTag.show {
    /*opacity: 0.7;*/
    /*visibility: visible;*/
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    /*transition: background-color 0.24s ease;*/

}

.addTagInputName.error{
    color: #cc0000;
}

.addTag label {
    color: #bdbdbd;
}

.addTagInputName {
    /*border:0px;*/
    /*border:none;*/

    min-width: 200px;
    max-width: 400px;

    padding: 15px 50px;
    border: 0;
    border-radius: 8px;
    outline: 0;
    /*border-bottom: 2px solid green;*/

    background-color: #bdbdbd;
    color: #000000;

    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}