.dropdown-menu {
	background-color: #2b2b2b;
	border: 1px solid #656565;
	z-index: 20;
}

.dropdown-item {
	color: #aeaeae;
}

.dropdown-item:hover{
	background-color: #aeaeae;
}

.dropdown-divider{
	background-color: #aeaeae;
}

.dropdown-menu.show {
}



.dropdown-item.label {
	color: #aeaeae;
}

.dropdown-item.label:hover {
	background-color: #2b2b2b;

}


input,
select,
textarea {
	max-width: 50px;
}