#titlebar {
	width: 100%;
	/*background-color: #3c3f41;*/
	overflow: hidden;
	height: 30px;
	/*height: 100px;*/
	/*display: inline-flex;*/
	display: flex;
	position: fixed;
	/*font-family: "Roboto", serif;*/
	/*font-family: 'Roboto Thin', sans-serif;*/

	/*font-weight: bold;*/
	text-transform: uppercase;
	margin: 0;

	z-index: 10;

}

#titlebar a {
	float: left;
	text-align: center;
	/*padding: 4px 8px 4px 8px;*/
	color: #aeaeae;
	text-decoration: none;
	user-select: none; 
	font-size: 14px;
	line-height: 30px;
	padding-left:  10px;
	padding-right: 10px;

	transition: background-color, color 0.21s ease;
}

#titlebar .icon{
	font-family: "Segoe MDL2 Assets", sans-serif;
	/*font-weight: bold;*/
}

#titlebar .text{
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#titlebar .text-small{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 14px;


}



#titlebar .reloadNotification {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	display: block;
	/*position: relative;*/
	width: max-content;
	min-width: fit-content ;
	background-color: #673ab7;
	margin: 4px 4px 4px 4px ;
	text-align: center;
	color: #aeaeae;
	text-decoration: none;
	user-select: none;
	font-size: 14px;
	border-radius: 3px;
	padding-left:  10px;
	padding-right: 10px;

	animation-name: color-pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;

}


@keyframes color-pulse {
	0% {
		background-color: #43248d;
	}
	20% {
		background-color: #43248d;
	}
	50%{
		background-color: #5a369c;
	}
	80% {
		background-color: #43248d;
	}
	100% {
		background-color: #43248d;
	}
}




#titlebar a:hover {
	/*background-color: #2a2f34;*/
	background-color: rgba(255,255,255,0.1);
	color: #d9d9d9;
}

#titlebar a:active {
	background-color: #272727;
	color: #d9d9d9;
}

a.active {
	background-color: #4CAF50;
}

.drag-region {
	width: 100%;
	height: auto;
	-webkit-app-region: drag;
}

/* Add responsiveness - will automatically display the titlebar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
	.titlebar a {
		float: none;
		display: block;
	}
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(3, 46px);
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
	height: 100%;
	font-family: "Segoe MDL2 Assets", serif;
	font-size: 10px;
}
#window-controls {
	-webkit-app-region: no-drag;
}
#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#window-controls .button {
	user-select: none;
	cursor: default;
	color: #BBB;
}
#window-controls .button:hover {
	background: rgba(255,255,255,0.1);
	color: #FFF;
}
#window-controls #min-button {
	grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
	grid-column: 2;
}
#window-controls #restore-button {
	display: none;
}
#window-controls #close-button {
	grid-column: 3;
}
#window-controls #close-button:hover {
	background: #E81123;
}

.progress-bar-purple {
	background-color: purple !important;
}

.progress-bar-gray {
	/*background-color: #43248d !important;*/

	/*border-right: 1px solid #5a369c;*/
	background: -webkit-linear-gradient(left ,#43248d 40%, #5a369c 50%, #43248d 60%) repeat;
	-webkit-background-size: 600px;
	-webkit-animation-name: moving-gradient;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


@-webkit-keyframes moving-gradient {
	0% {
		background-position: 0;

	}

	20% {
		background-position: 0;

	}

	80% {
		background-position: 600px;

	}


	100% {
		background-position: 600px;
	}
}

.progress {
	position:relative;
	/*display: flex;*/
	/*overflow: hidden;*/
	-webkit-app-region: drag;
	width:400px;
	height:20px;
	margin-top:auto;
	margin-bottom: auto;
	background-color: #393939 !important;

	border: 1px solid #444444;

	pointer-events: none;
}

.progress .text{
	color: #aeaeae;
}

.progress span {
	position:absolute;
	left:0;
	width:100%;
	text-align:center;
	z-index:2;
	/*color:white;*/
	color:#d9d9d9;
}


#serverIcon {
	user-select: none;
}